@charset "utf-8";
/* CSS Document */
.ul-2, .footer-column ul, #product-container .product-info-column li{
	margin-left:15px;
}

#footer-email input[type=text]{height:16px;}
#footer-email input[type=submit]{height: 30px;}

#mini-basket-items{max-height:none}
.yellow-btn{height:45px !important; margin-left:0; padding-top:10px !important;}