#checkout-login-signup input{
	width: 215px;
}

#order-confirm-basket .check-final-price {
	width: 60px;
	padding-left: 0;
	clear: both;
}

.ie-no-margin{
	margin:0;
}

/*my account order */
#items-delivered ul{
	margin: 0;
}
.wishlist-basket{overflow:hidden;}