<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/main.css" media="screen" />
		<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="../css/ie-7.css" media="screen" />
		<![endif]-->
		<!--[if IE]>
		<link rel="stylesheet" type="text/css" href="../css/ie.css" media="screen" />
		<![endif]-->
	</head>
	<body>
		<div id="container">
			<div id="wrapper">
				<div id="header">
					<div id="SiS-logo"><a href="http://www.scienceinsport.com"><img src="../img/ui/sis.png" alt="Science in Sport logo" title="SiS" height="78" width="163" /></a></div>
					<div id="account-menu">
						<div class="acc-menu-item"><a class="basket-over" href="#"><span>[2 Items]</span></a></div>
						<div class="acc-menu-item"><a class="basket-over" href="#" style="color:#656565">Cart</a></div>
						<div class="acc-menu-item"><a class="basket-over" href="#"><img src="../img/ui/trolley.png" alt='Cart' title='2 items' height="34" width="36" /></a></div>
						<div class="acc-menu-item"><a href="#"><span>Home</span></a></div>
					</div>
				</div>
				<!-- #header -->
				<div id="content" class="checkout-pages">
					<div id="ad-title-space">
						<h1 class="check-page-title">
							SiS Checkout
						</h1>
						<p class="h1-sub-heading grey">Free delivery on all UK orders.</p>
					</div>
					<div id="grey-bg-wrapper">
						<div id="checkout-breadcrumb-menu" class="left grey">Welcome &raquo; Delivery Address &amp; Delivery Options<span class="current black"> &raquo; Payment</span> &raquo; Receipt</div>
						<div id="order-confirm">
							<div id="order-confirmation-notice" class="clear">
								<h2>Your Order is Confirmed</h2>
								<p>Thank you! We confirm receipt of your order</p>
								<p>Your order confirmation number is 1024</p>
							</div>
							<div id="order-confirm-info" class="left clear">
								<div id="confirm-billing-address" class="confirm-address">
									<h3>Billing Address</h3>
									<p class="address-box">Mr George Adroulis<br />
										RED Technology.com<br />
										Oakfield Industrial Estate<br />
										Eynsham<br />
										Oxfordshire <br />
										OX29 4TH<br />
										United Kingdom
									</p>
								</div>
								<div id="confirm-payment-address" class="confirm-address">
									<h3>Delivery Address</h3>
									<p class="address-box">Mr George Adroulis<br />
										RED Technology.com<br />
										Oakfield Industrial Estate<br />
										Eynsham<br />
										Oxfordshire <br />
										OX29 4TH<br />
										United Kingdom
									</p>
								</div>
							</div>
							<div id="order-confirm-basket" class="float-right">
								<h2>Basket</h2>
								<div class="check-items-title">
									<span class="item-title">Product</span>  
									<span class="quantity-title">Quantity</span> 
									<span class="total-title">Line Total</span>
								</div>
								<!-- end .check-items-title -->
								<div class="check-item-row">
									<div class="check-item-image">
										<img src="../img/dummy/product.png" alt="Product Image" />
									</div>
									<ul class="check-item-item">
										<li class="check-row-product-name">SIS Rego Rapid Recovery
										</li>
										<li class="">Price: <span class="grey clear"><span class="pound">&pound;</span><span class="bold">29.99</span></span>
										</li>
										<li class="clear grey">#002962
										</li>
										<li class="">Selection: <span class="grey clear">1.6kg (6 servings)</span>
										</li>
										<li class="">Flavour: <span class="grey">Strawberry</span>
										</li>
									</ul>
									<p class="check-amounts">1
									</p>
									<div class="check-final-price">
										<span class="pound">&pound;</span><span class="bold">55.80</span>
									</div>
								</div>
								<!-- end item row -->
								<div class="check-item-row">
									<div class="check-item-image">
										<img src="../img/dummy/product.png" alt="Product Image" />
									</div>
									<ul class="check-item-item">
										<li class="check-row-product-name">SIS Rego Rapid Recovery
										</li>
										<li class="">Price: <span class="grey clear"><span class="pound">&pound;</span><span class="bold">29.99</span></span>
										</li>
										<li class="clear grey">#002962
										</li>
										<li class="">Selection: <span class="grey clear">1.6kg (6 servings)</span>
										</li>
										<li class="">Flavour: <span class="grey">Strawberry</span>
										</li>
									</ul>
									<p class="check-amounts">1
									</p>
									<div class="check-final-price">
										<span class="pound">&pound;</span><span class="bold">55.80</span>
									</div>
								</div>
								<!-- end item row -->
								<div class="check-item-row">
									<div class="check-item-image">
										<img src="../img/dummy/product.png" alt="Product Image" />
									</div>
									<ul class="check-item-item">
										<li class="check-row-product-name">SIS Rego Rapid Recovery
										</li>
										<li class="">Price: <span class="grey clear"><span class="pound">&pound;</span>29.99</span>
										</li>
										<li class="clear grey">#002962
										</li>
										<li class="">Selection: <span class="grey clear">1.6kg (6 servings)</span>
										</li>
										<li class="">Flavour: <span class="grey">Strawberry</span>
										</li>
									</ul>
									<p class="check-amounts">2
									</p>
									<div class="check-final-price">
										<del><span class="pound">&pound;</span><span class="bold">55.80</span></del>
									</div>
									<div class="check-final-price">
										<span class="pound">&pound;</span><span class="bold">25.80</span>
									</div>
								</div>
								<!-- end item row -->
								<div class="check-item-row">
									<div class="check-item-image">
										<img src="../img/dummy/product.png" alt="Product Image" />
									</div>
									<ul class="check-item-item">
										<li class="check-row-product-name">SIS Rego Rapid Recovery
										</li>
										<li class="">Price: <span class="grey clear"><span class="pound">&pound;</span>29.99</span>
										</li>
										<li class="clear grey">#002962
										</li>
										<li class="">Selection: <span class="grey clear">1.6kg (6 servings)</span>
										</li>
										<li class="">Flavour: <span class="grey">Strawberry</span>
										</li>
									</ul>
									<p class="check-amounts">2
									</p>
									<div class="check-final-price">
										<del><span class="pound">&pound;</span><span class="bold">55.80</span></del>
									</div>
									<div class="check-final-price">
										<span class="pound">&pound;</span><span class="bold">0.00</span>
									</div>
								</div>
								<!-- end item row -->
								<div class="check-offer-row">
									<div class="check-offer-name">
										Offer Name
									</div>
									<div class="check-discount-amount">
										<span class="pound">-&pound;</span><span class="bold">20.00</span>
									</div>
								</div>
								<div class="check-total-price">
									<div class="basket-subtotal-label left-col">
										Basket Subtotal
									</div>
									<div class="basket-subtotal">
										<span class="pound">&pound;</span><span class="bold">55.80</span>
									</div>
									<div class="check-delivery-label left-col">
										Standard Delivery
									</div>
									<div class="delivery-price">
										<span class="pound">&pound;</span><span class="bold">10.00</span>
									</div>
									<div class="checkout-total-price-label left-col">
										Total
									</div>
									<div class="checkout-total-price">
										<span class="pound">&pound;</span><span class="bold">65.80</span>
									</div>
								</div>
							</div>
							<!--end .order-basket -->
						</div>
						<!-- end #checkout-payment -->
						<div class="payment-cards-box"><img src="../img/dummy/payment-logos.png" alt="logos" /></div>
					</div>
					<!-- end of grey bg wrapper-->
				</div>
				<!-- #content -->
				<div id="footer">
					<div id="footer-legal"><span>&copy; SiS (Science in Sport) Limited, The Innovation Centre, 35 Churchill Way, Lancashire, BB9 6RT. Company reg number: 2742833, VAT reg number: GB 604598037</span></div>
					<div id="footer-follow">
					</div>
				</div>
				<!-- #footer -->
			</div>
			<!--  #wrapper -->
		</div>
		<!-- #container -->
	</body>
</html>