<div id="mini-search-component">
	<div class="clear"></div>
	<div id="mini-search-items" class="scroll"> 
		
		<!-- row start -->
		<div class="mini-search-row">
			<div class="mini-product-image"> <a href="#" title="SIS Rego Rapid"><img src="../img/dummy/product-mini.png" height="56" width="53" alt="product image" title="Product image" /></a> </div>
			<div class="mini-product-description">
				<ul class="check-item-item">
					<li class="check-row-product-name">SIS Rego Rapid</li>
					<li class="">Price: <span class="pound grey">&pound;</span><span class="grey">19.99</span> </li>
					<li><a class="grey" href="#" title="SIS Rego Rapid">#123456</a></li>
				</ul>
			</div>
		</div>
		<!-- row end --> 
		
		<!-- row start -->
		<div class="mini-search-row">
			<div class="mini-product-image"> <a href="#" title="SIS Rego Rapid"><img src="../img/dummy/product-mini.png" height="56" width="53" alt="product image" title="Product image" /></a> </div>
			<div class="mini-product-description">
				<ul class="check-item-item">
					<li class="check-row-product-name">SIS Rego Rapid</li>
					<li class="">Price: <span class="pound grey">&pound;</span><span class="grey">19.99</span> </li>
					<li><a class="grey" href="#" title="SIS Rego Rapid">#123456</a></li>
				</ul>
			</div>
		</div>
		<!-- row end --> 
		
		<!-- row start -->
		<div class="mini-search-row">
			<div class="mini-product-image"> <a href="#" title="SIS Rego Rapid"><img src="../img/dummy/product-mini.png" height="56" width="53" alt="product image" title="Product image" /></a> </div>
			<div class="mini-product-description">
				<ul class="check-item-item">
					<li class="check-row-product-name">SIS Rego Rapid</li>
					<li class="">Price: <span class="pound grey">&pound;</span><span class="grey">19.99</span> </li>
					<li><a class="grey" href="#" title="SIS Rego Rapid">#123456</a></li>
				</ul>
			</div>
		</div>
		<!-- row end --> 
		
		<!-- row start -->
		<div class="mini-search-row">
			<div class="mini-product-image"> <a href="#" title="SIS Rego Rapid"><img src="../img/dummy/product-mini.png" height="56" width="53" alt="product image" title="Product image" /></a> </div>
			<div class="mini-product-description">
				<ul class="check-item-item">
					<li class="check-row-product-name">SIS Rego Rapid</li>
					<li class="">Price: <span class="pound grey">&pound;</span><span class="grey">19.99</span> </li>
					<li><a class="grey" href="#" title="SIS Rego Rapid">#123456</a></li>
				</ul>
			</div>
		</div>
		<!-- row end --> 
		
		<!-- row start -->
		<div class="mini-search-row">
			<div class="mini-product-image"> <a href="#" title="SIS Rego Rapid"><img src="../img/dummy/product-mini.png" height="56" width="53" alt="product image" title="Product image" /></a> </div>
			<div class="mini-product-description">
				<ul class="check-item-item">
					<li class="check-row-product-name">SIS Rego Rapid</li>
					<li class="">Price: <span class="pound grey">&pound;</span><span class="grey">19.99</span> </li>
					<li><a class="grey" href="#" title="SIS Rego Rapid">#123456</a></li>
				</ul>
			</div>
		</div>
		<!-- row end --> 
		
		<!-- row start -->
		<div class="mini-search-row">
			<div class="mini-product-image"> <a href="#" title="SIS Rego Rapid"><img src="../img/dummy/product-mini.png" height="56" width="53" alt="product image" title="Product image" /></a> </div>
			<div class="mini-product-description">
				<ul class="check-item-item">
					<li class="check-row-product-name">SIS Rego Rapid</li>
					<li class="">Price: <span class="pound grey">&pound;</span><span class="grey">19.99</span> </li>
					<li><a class="grey" href="#" title="SIS Rego Rapid">#123456</a></li>
				</ul>
			</div>
		</div>
		<!-- row end --> 
		
		<!-- row start -->
		<div class="mini-search-row">
			<div class="mini-product-image"> <a href="#" title="SIS Rego Rapid"><img src="../img/dummy/product-mini.png" height="56" width="53" alt="product image" title="Product image" /></a> </div>
			<div class="mini-product-description">
				<ul class="check-item-item">
					<li class="check-row-product-name">SIS Rego Rapid</li>
					<li class="">Price: <span class="pound grey">&pound;</span><span class="grey">19.99</span> </li>
					<li><a class="grey" href="#" title="SIS Rego Rapid">#123456</a></li>
				</ul>
			</div>
		</div>
		<!-- row end --> 
	
	</div>
	<div class="clear"></div>
	<div class="ms-footer">
		<h4>Page results:</h4>
		<!-- page results -->
		<ul class="ul-2">
			<li class="li-2"><a href="#" title="Nutrition for cycling: 10 &amp; 25 mile time trials">Nutrition for cycling: 10 &amp; 25 mile time trials</a></li>
			<li class="li-2"><a href="#" title="Nutrition for cycling: 100 mile sportive">Nutrition for cycling: 100 mile sportive</a></li>
			<li class="li-2"><a href="#" title="Fuelling the professional: sis and madison genesis">Fuelling the professional: sis and madison genesis</a></li>
		</ul>
		<div class="see-all-results">
			<a class="cta-btn _184" href="#" title="CTA"><span>See all results</span></a>
			<div class="dropshadow _184"><img src="../img/ui/drop-shadow.png" alt="" /></div>
		</div>
		<div class="clear"></div>
		<div class="no-results">
			<h3 class="near-black">No Search Results...</h3>
			<p>Please try another search</p>
		</div>
	</div>
</div>
