<div id="mini-basket-component">
   <div class="xclose"><img src="../img/ui/close_btn.png" alt="Close" title="Close" height="20" width="20" /></div>
  <div class="clear"></div>
  <form class="mini-check-amounts" method="post" action="#">
    <div id="mini-basket-items" class="scroll"> 
      
      <!-- row start -->
      <div class="mini-basket-row">
        <div class="mini-product-image"> <a href="#" title="SIS Rego Rapid"><img src="../img/dummy/product-mini.png" height="56" width="53" alt="product image" title="Product image" /></a> </div>
        <div class="mini-product-description">
          <ul class="check-item-item">
            <li class="check-row-product-name"><a class="near-black" href="#" title="SIS Rego Rapid">SIS Rego Rapid</a></li>        
            <li class="">Selection: <span class="grey clear">1.6kg (6 servings)</span> </li>
            <li class="">Flavour: <span class="grey">Strawberry</span> </li>
            <li class="">Price: <span class="pound grey">&pound;</span><span class="grey">19.99</span> </li>
          </ul>
        </div>
        <div class="item-update">
          <label>Qty:</label>
          <input type="text" name="product-amount" size="3" value="3" />
        </div>
        <div class="mini-check-final-price"> <span class="pound">&pound;</span><span class="line-total">59.97</span> </div>
      </div>
      <!-- row end --> 
      
      <!-- row start -->
      <div class="mini-basket-row">
        <div class="mini-product-image"> <a href="#" title="SIS Rego"><img src="../img/dummy/product-mini.png" height="56" width="53" alt="product image" title="Product image" /></a> </div>
        <div class="mini-product-description">
          <ul class="check-item-item">
            <li class="check-row-product-name"><a class="near-black" href="#" title="SIS Rego">SIS Rego</a></li>       
            <li class="">Selection: <span class="grey clear">1.6kg (6 servings)</span> </li>
            <li class="">Flavour: <span class="grey">Strawberry</span> </li>
            <li class="">Price: <span class="pound grey">&pound;</span><span class="grey">19.99</span> </li>
          </ul>
        </div>
        <div class="item-update free-product">
          <label>Qty:</label>
          <input type="text" name="product-amount" size="3" value="1" readonly="readonly" />
        </div>
        <div class="mini-check-final-price"> <del><span class="pound">&pound;</span><span class="line-total">19.99</span></del><br />
          <span class="pound">&pound;</span><span class="line-total">0.00</span> </div>
      </div>
      <!-- row end --> 
      
      <!-- row start -->
      <div class="mini-basket-row">
        <div class="mini-product-image"> <a href="#" title="SIS Rego Rapid Recovery Recovery Rego" ><img src="../img/dummy/product-mini.png" height="56" width="53" alt="product image" title="Product image" /></a> </div>
        <div class="mini-product-description">
          <ul class="check-item-item">
            <li class="check-row-product-name"><a class="near-black" href="#" title="SIS Rego Rapid Recovery Recovery Rego">SIS Rego Rapid Recovery Recovery Rego </a></li>         
            <li class="">Selection: <span class="grey clear">1.6kg (6 servings)</span> </li>
            <li class="">Flavour: <span class="grey">Strawberry</span> </li>
            <li class="">Price: <span class="pound grey">&pound;</span><span class="grey">999.99</span> </li>
          </ul>
        </div>
        <div class="item-update">
          <label>Qty:</label>
          <input type="text" name="product-amount" size="3" value="2" />
        </div>
        <div class="mini-check-final-price"> <span class="pound">&pound;</span><span class="line-total">1999.98</span> </div>
      </div>
      <!-- row end --> 
      
      <!-- row start -->
      <div class="mini-basket-row">
        <div class="mini-product-image"> <a href="#" title="SIS Rego Rapid"><img src="../img/dummy/product-mini.png" height="56" width="53" alt="product image" title="Product image" /></a> </div>
        <div class="mini-product-description">
          <ul class="check-item-item">
            <li class="check-row-product-name"><a class="near-black" href="#" title="SIS Rego Rapid">SIS Rego Rapid </a></li>          
            <li class="">Selection: <span class="grey clear">1.6kg (6 servings), Again, quite long</span> </li>
            <li class="">Flavour: <span class="grey">Strawberry</span> </li>
            <li class="">Price: <span class="pound grey">&pound;</span><span class="grey">999.99</span> </li>
          </ul>
        </div>
        <div class="item-update">
          <label>Qty:</label>
          <input type="text" name="product-amount" size="3" value="2" />
        </div>
        <div class="mini-check-final-price"> <del><span class="pound">&pound;</span><span class="line-total">1999.98</span></del><br />
          <span class="pound">&pound;</span><span class="line-total">1500.00</span> </div>
      </div>
      <!-- row end --> 
      
      <!-- row start -->
      <div class="mini-basket-row">
        <div class="mini-product-image"> <a href="#" title="SIS Rego Rapid"><img src="../img/dummy/product-mini.png" height="56" width="53" alt="product image" title="Product image" /></a> </div>
        <div class="mini-product-description">
          <ul class="check-item-item">
            <li class="check-row-product-name"><a class="near-black" href="#" title="SIS Rego Rapid">SIS Rego Rapid </a></li>          
            <li class="">Selection: <span class="grey clear">1.6kg (6 servings), Again, quite long</span> </li>
            <li class="">Flavour: <span class="grey">Strawberry</span> </li>
            <li class="">Price: <span class="pound grey">&pound;</span><span class="grey">19.99</span> </li>
          </ul>
        </div>
        <div class="item-update">
          <label>Qty:</label>
          <input type="text" name="product-amount" size="3" value="3" />
        </div>
        <div class="mini-check-final-price"> <span class="pound">&pound;</span><span class="line-total">59.97</span> </div>
      </div>
      <!-- row end --> 
      
    </div>
    <div id="mini-basket-offers">
      <div class="mini-basket-offer-row">
        <div class="mini-basket-offer-name">Free SiS shaker with every 1.6kg size protein shakes</div>
        <div class="mini-basket-offer-discount">- <span class="pound">&pound;</span><span class="line-total">555.99</span></div>
        <div class="clear"></div>
      </div>
      <div class="mini-basket-offer-row">
        <div class="mini-basket-offer-name">Free Delivery for orders over <span class="pound">&pound;</span>40</div>
        <div class="mini-basket-offer-discount">- <span class="pound">&pound;</span><span class="line-total">6.00</span></div>
       <div class="clear"></div>
      </div>
      <div class="mini-basket-offer-row">
        <div class="mini-basket-update"> <span class="promo-labelo">Promotion code:</span>
          <input type="text" name="promo-code" size="10" value="FreeDel13" />
          <div class="mini-basket-update-button">
            <input type="submit" value="Update" />
            <div class="dropshadow _110"><img src="../img/ui/drop-shadow.png" alt="" /></div>
          </div>
        </div>
        <hr />
        <div class="clear"></div>
      </div>
      <div class="mini-basket-offer-row">
        <div class="mini-basket-offer-name">Basket Sub Total</div>
        <div class="mini-basket-offer-discount"><span class="pound">&pound;</span><span class="line-total">3619.92</span></div>
        <div class="clear"></div>
      </div>
      <hr />
      <div id="mini-checkout-btn"><a class="cta-btn _150" href="#" title="CTA"><span>Checkout</span></a>
        <div class="dropshadow _150"><img src="../img/ui/drop-shadow.png" alt="" /></div>
      </div>
      <div class="clear"></div>
    </div>
  </form>
  <div class="clear"></div>
</div>
