
<!-- add to basket component -->
<div id="ab-overlay">
	<div id="ab-outer-frame">
		<div id="ab-inner-frame">
			<div id="ab-header">
				<h2 class="near-black">Add To Basket</h2>
				<h3>The following product has been added to your basket but part of the quantity requested is not available:</h3>
			</div>
			<div class="ab-form">	
				<table class="ab-table" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<th>&nbsp;</th>
						<th class="left bold">Product</th>
						<th class="bold">Available Quantity</th>
						<th class="bold">Line total</th>
					</tr>
					<tr>
						<td><div class="check-item-image"> <a href="#" title="SIS Rego Rapid Recovery"><img src="../img/dummy/product.png" alt="Product Image" /></a> </div></td>
						<td class="small border-top">
							<ul class="check-item-item">
								<li class="check-row-product-name"><a href="#" title="SIS Rego Rapid Recovery" class="near-black">SIS Rego Rapid Recovery</a></li>
								<li class="clear grey">#002962 </li>
								<li class="">Selection: <span class="grey clear">1.6kg (6 servings)</span> </li>
								<li class="">Flavour: <span class="grey">Strawberry</span> </li>
							</ul>
						</td>
						<td class="centered border-top">2</td>
						<td class="centered border-top"><span class="pound">&pound;</span><span class="pound">29.99</span></td>
					</tr>
				</table>
				
				<div class="ab-buttons">
					<div class="continue-shopping">
						<div class="_205"><a class="cta-btn _205" href="#" title="CTA"><span>Continue Shopping</span></a></div>
						<div class="dropshadow _205"><img src="../img/ui/drop-shadow.png" alt="" /></div>
					</div>
					<div class="view-basket">
						<div class="_184"><a class="cta-btn _184" href="#" title="CTA"><span>View basket</span></a></div>
						<div class="dropshadow _184"><img src="../img/ui/drop-shadow.png" alt="" /></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
